{% extends 'base.html' %}

{% block title %}Alterar Senha{% endblock %}

{% block content %}
    <h1 class="title">Alterar Senha</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="field">
            <label class="label">E-mail</label>
            <div class="control">
                <input class="input" type="email" name="email" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Senha Atual</label>
            <div class="control">
                <input class="input" type="password" name="old_password" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Nova Senha</label>
            <div class="control">
                <input class="input" type="password" name="new_password" required>
            </div>
        </div>

        <div class="control">
            <button class="button is-primary" type="submit">Alterar Senha</button>
        </div>
    </form>
{% endblock %}
